USE [RFID_Library]
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserPersonlia]    Script Date: 10/24/2022 3:29:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[UpdateUserPersonlia]
@fName char(40),
@lName char(40),
@phone int,
@email char(40),
@dOB char(40),
@Username char(40),
@Password char(40)
AS

UPDATE PERSON
SET
fName = @fName,
lName = @lName,
phone = @phone,
email = @email,
dOB = @dOB,
Username = @Username,
Password = @Password
WHERE Password = @Password 

SELECT * FROM PERSON