@page
@model Datamanagement.Pages.NewBookModel
@{
    ViewData["Title"] = "New Book";
}
<div>
<h1>New Book</h1>
<form name="bookForm" id="bookForm" method="post">
BookId:
<br />
<input name="bookId" type="text" class="form-control input-lg" autofocus required />
<br />
AuthorId:
<br />
<input name="authorId" type="text" class="form-control input-lg" autofocus required />
<br />
TypeId:
<br />
<input name="typeId" type="text" class="form-control input-lg" autofocus required />
<br />
Title:
<br />
<input name="Title" type="text" class="form-control input-lg" autofocus required />
<br />
TypeName:
<br />
<input name="TypeName" type="text" class="form-control input-lg" required />
<br />
Author Lastname:
<br />
<input name="AutherLastName" type="text" class="form-control input-lg" required />
<br />
Author Firstname:
<br />
<input name="AutherFirstName" type="text" class="form-control input-lg" required />
<br />
Pagecount:
<br />
<input name="Pagecount" type="text" class="form-control input-lg" required />
<br />
<input id="saveButton" type="submit" value="Save" class="btn btn-info" />
</form>
</div>
